{% extends "base.html" %}



{% block main %}
<h1>Domains&hellip;</h1>
<h3>Some Domains I Own</h3>
<p>
  Basically projects that I never started or finished but still want to do some day.
</p>
<ul>
<li>brandolero.com</li>
<li>replyrate.com</li>
<li>heystuff.com</li>
<li>chromed.org</li>
<li>simpleform.com</li>
<li>listable.org</li>
<li>goodpattern.com</li>
<li>burgerti.me</li>
<li>kilobot.org</li>
<li>replyrabbit.com</li>
<li>shouldfollow.com</li>
<li>dropcash.com</li>
<li>torrez.org</li>
<li>playmelater.com</li>
<li>towerofme.com</li>
<li>friendshipping.org</li>
<li>howtologintofacebook.com</li>
<li>junedb.com</li>
<li>everybee.com</li>
<li>keybo.org</li>
<li>paperface.org</li>
<li>mlkshk.com</li>
<li>weheartcomics.com</li>
<li>dropload.com</li>
<li>shoplet.org</li>
<li>frontside.com</li>
<li>freeasinbeards.com</li>
<li>pistole.ro</li>
</ul>
<p>
  I may not ever get to some of these, so if you want one let me know.
</p>
{% end %}
