{% extends "base.html" %}



{% block main %}
<h1>I Am Currently Working On&hellip;</h1>
<h3>MLKSHK.COM</h3>
<p>
  <img src="/static/images/mlkshk-screenshot.png" width="200" height="200" class="pimg" align="left"> 
  <strong><a href="http://mlkshk.com/">MLKSHK</a> is a place for sharing.</strong> My wife and I ( {{linkify("http://simpleform.com/")}} )
  are building a site for sharing photos, images, video, and other things you find on the web.
</p>
<p>
  We're live! <a href="http://mlkshk.com/">Please join us and share</a> files with your friends.
</p>
<p>
  January 1, 2011 &mdash; Present
</p>
{% end %}