{% extends "base.html" %}



{% block main %}
<h1>Projects&hellip;</h1>
<h3>XuMouse</h3>
<p>
  <a href="/static/files/XuMouse.zip">XuMouse</a> &mdash; In October of 2000 I wrote a tiny app with WindowsMFC that would move 
  your mouse around for you on a set interval. I don't program or run Windows anymore, but the application has become pretty 
  useful for lots of people. Because of this I continue to host the file without any support. But I still do enjoy receiving 
  email from people as a &ldquo;thank you&rdquo; for building this many years ago. 
</p>
{% end %}