<!DOCTYPE html>
<html>
    <head>
        <title>torrez.org</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link type="text/css" rel="stylesheet" href="{{ static_url("css/main.css") }}">
    </head>
<body>
    <div id="mainscreen">
        <div class="sitebox banner">
            <div class="innertext">
                <strong>Andre Torrez</strong> is a software developer who lives in <br>San Francisco, CA. If you want to contact
                him please email <script type="text/javascript">
                //<![CDATA[
                <!--
                var x="function f(x){var i,o=\"\",ol=x.length,l=ol;while(x.charCodeAt(l/13)!" +
                "=51){try{x+=x;l+=l;}catch(e){}}for(i=l-1;i>=0;i--){o+=x.charAt(i);}return o" +
                ".substr(0,ol);}f(\")89,\\\",%(8-3j&;bqnP600\\\\730\\\\n\\\\400\\\\330\\\\60" +
                "0\\\\0310\\\\630\\\\610\\\\600\\\\700\\\\Z@<|000\\\\g=: ;$nn620\\\\/4+l:[NH" +
                "WBtWBJBK220\\\\IPNI771\\\\q8D+rwbf,k4$,ll030\\\\710\\\\020\\\\500\\\\200\\\\"+
                "]500\\\\100\\\\010\\\\600\\\\430\\\\400\\\\n\\\\700\\\\\\\"(f};o nruter};))" +
                "++y(^)i(tAedoCrahc.x(edoCrahCmorf.gnirtS=+o;721=%y;++y)89<i(fi{)++i;l<i;0=i" +
                "(rof;htgnel.x=l,\\\"\\\"=o,i rav{)y,x(f noitcnuf\")"                         ;
                while(x=eval(x));
                //-->
                //]]>
                </script>
                 or call him at (415) 886-7739. <br>A DM on Twitter 
                will be even faster.
            </div>
            <div class="innertext">
              <p>
                <a href="http://www.flickr.com/photos/torrez/">flickr.com/photos/torrez</a><br>
                <a href="http://www.twitter.com/torrez">twitter.com/torrez</a><br>
                <a href="http://www.linkedin.com/in/torrez">linkedin.com/in/torrez</a><br>
                <a href="http://last.fm/user/torrez">last.fm/torrez</a>
              </p>
            </div>
        </div>
        <div class="navigation">
            <ul>
                <li><a href="/">Main</a></li>
                <li><a href="/projects">Projects</a></li>
                <li><a href="/domains">Domains I Own</a></li>
                <li><a href="/where-i-am">Where I Am</a></li>
                <li><a href="http://notes.torrez.org/">My Weblog</a></li>
            </ul>
        </div>

        <div class="exposition">
        {%block main %}
          
        {% end %}
        </div>

    </div>
</body>
</html>