<!DOCTYPE html>
<html>
    <head>
        <title>Andre Torrez</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="stylesheet" href="http://twitter.github.com/bootstrap/assets/css/bootstrap-1.0.0.min.css">
        <link rel="stylesheet" href="{{static_url('css/main.css')}}">
        <script src="https://www.google.com/jsapi?key=ABQIAAAAVqwwUBw5obKxPKbJajuzBxS56xHhqWFvgnimWbXOWNYRBOJWKRRKbx1FidHxpwTQyYDnPSkKDdDd6Q" type="text/javascript"></script>
        <script type="text/javascript">
             google.load("jquery", "1.6.2");
        </script>
        <script src="{{static_url('js/main.js')}}"  type="text/javascript"></script>
        <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-25255742-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
    </head>
<body>
    <div class="container">
        <div class="row">
            <div class="span4 columns">
                <h1>Andre Torrez</h1>
            </div>
            <div class="span12 columns">
                <div class="subhead"><em>I &#9829; software, I &#9889; software.</em></div>
            </div>
        </div>
        <div class="row">
            <div class="span4 columns">
                <a href="http://simpleform.com/">Simpleform</a>
            </div>
            <div class="span10 columns">
                Simpleform is the company wife and I started when I left 
                <a href="http://federatedmedia.net/">Federated Media</a>. It&#8217;s nearly 
                two years old and still going strong&#8212;something we are immensely proud of.
            </div>
        </div>
        <div class="row">
            <div class="span4 columns">
                <a href="http://mlkshk.com/user/andre">MLKSHK</a>
            </div>
            <div class="span10 columns">
                Our first product was launched in May of 2011 to a wonderful reception. With two million
                unique visits (as of August 20th) it&#8217;s proven itself to be a great daily
                destination for people looking for an entertaining, fun, and engaged community.
            </div>
        </div>
        <div class="row">
            <div class="span4 columns">
                <a href="http://twitter.com/torrez">Twitter</a>
            </div>
            <div class="span10 columns">
                Of the major social networks, Twitter is my <strong>absolute favorite</strong>. It&#8217;s no 
                coincidence that I&#8217;ve favored nearly 20,000 tweets in the five years
                I&#8217;ve been a member. I love that place.
            </div>
        </div>
        <div class="row">
            <div class="span4 columns">
                <a href="http://linkedin.com/in/torrez">LinkedIn</a>
            </div>
            <div class="span10 columns">
                I&#8217;m trying to use LinkedIn a bit more. If we&#8217;ve worked together or
                we know eachother in some way please feel free to connect with me. Mention
                how we know eachother if I might not remember you.
            </div>
        </div>
        <div class="row">
            <div class="span4 columns">
                <a href="http://last.fm/user/torrez">Last.fm</a>
            </div>
            <div class="span10 columns">
                I listen to a lot of music. I&#8217;ve logged over 65,000 songs since 2003. Let&#8217;s 
                be friends.
            </div>
        </div>
        <div class="row">
            <div class="span4 columns">
                <a href="http://www.rdio.com/#/people/andre/">Rdio</a>
            </div>
            <div class="span10 columns">
                In 2010 I only listened to music released in 2010. It was a challenge, but
                Rdio really helped make it happen. Since then it&#8217;s the
                only way I listen to music.
            </div>
        </div>
        <div class="row">
            <div class="span4 columns">
                <a href="http://www.flickr.com/photos/torrez/">Flickr</a>
            </div>
            <div class="span10 columngs">
                I used to use Flickr a lot. I still consider it one of the best engineered,
                managed, and designed sites on the web. It&#8217;s a huge motivator in my work
                life and is easily the the site we discuss most at the office. 
                &ldquo;Well, what did Flickr do?&rdquo;
                is a phrase we use often.
            </div>
        </div>
        <div class="row">
            <div class="span4 columns">
            <h5>Contact Me</h5>
            </div>
            <div class="span3 columns">
                <div class="contact">
                    <script type="text/javascript">
                    //<![CDATA[
                    <!--
                    var x="function f(x){var i,o=\"\",ol=x.length,l=ol;while(x.charCodeAt(l/13)!" +
                    "=51){try{x+=x;l+=l;}catch(e){}}for(i=l-1;i>=0;i--){o+=x.charAt(i);}return o" +
                    ".substr(0,ol);}f(\")89,\\\",%(8-3j&;bqnP600\\\\730\\\\n\\\\400\\\\330\\\\60" +
                    "0\\\\0310\\\\630\\\\610\\\\600\\\\700\\\\Z@<|000\\\\g=: ;$nn620\\\\/4+l:[NH" +
                    "WBtWBJBK220\\\\IPNI771\\\\q8D+rwbf,k4$,ll030\\\\710\\\\020\\\\500\\\\200\\\\"+
                    "]500\\\\100\\\\010\\\\600\\\\430\\\\400\\\\n\\\\700\\\\\\\"(f};o nruter};))" +
                    "++y(^)i(tAedoCrahc.x(edoCrahCmorf.gnirtS=+o;721=%y;++y)89<i(fi{)++i;l<i;0=i" +
                    "(rof;htgnel.x=l,\\\"\\\"=o,i rav{)y,x(f noitcnuf\")"                         ;
                    while(x=eval(x));
                    //-->
                    //]]>
                    </script><br>
                    (415) 886-7739<br>
                    or, for a faster response, simply 
                    <a href="http://twitter.com/?status=d+torrez" target="_blank">DM me on Twitter</a> if
                    you are able.
                </div>
            </div>
            <!--
            <div class="span3 columns offset4" style="text-align:center;border:1px solid #000;background-color:#000;">
                <img src="/static/images/black-log.gif" width="150" height="150">
            </div>-->

        </div>
    </div>
</body>
</html>
