<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Andre Torrez</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="icon" type="image/png" href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAIAAACQkWg2AAAXgGlDQ1BJQ0MgUHJvZmlsZQAAWIXt
WmdQVE2X7nsnwswQhpxzzjkjOYNIjpJzzkFyEBBFJIiAIElEgpiQIAooIiZEUQQTCCqCEQQVSXtB
3/fdrW+/2tran2tX9b1PnT6n+/Q9PaefrmkARI55hIcHwwCAkNDoSCtDHW4HRydu3FMAAU5ABuKA
38MrKlzb0tIM/NvybRzRRsqYxHZf/I+Z+EuEH1RO2m7NKocNGf17u51CG4kMCABkiWB6v1/Yext7
/sLx2zguOjwawQe3sZe/B9IO1SBYPNLGShfBdwHAE/12MMXENvbcwbSvt7GHR6QfACxfEH1uDw8/
BLPS/MKe21h6G8d6+SH9syI+YMmh3gGhiAgZA6vp7RPlBYBgA6Lj7R3lFQKAEB4AWCckJAxpF9n+
JsJe4ZGIrQhSAf/2t/s1rcB9AChxIb5d/0fmMw5AzwvEJ8p/ZILZAFChAbjl/o/sq9XO94QY70f5
ysnuiCCiDgCYl1tbXwUBwBUBsHFka2utbmtrox4A1HMA+oO9YiJjf9mjtx8YQAmoAT1gQeLIB4SB
BJAFSkANaAF9YAJ2AxvgCPYCL+APQkAkiANJIB3sB/mgEJSCCnACNIDT4Aw4DzpBLxgAQ+AOGAWP
wVMwDd6ABfAFrIA1CIJwEBEiQ8wQJyQAiUEykDKkCelDppAV5Ai5Q75QCBQDJUGZ0AGoCCqHaqEm
6CzUBfVDw9AoNAFNQ/PQIvQThmECTA+zwwKwJKwEa8EmsDXsAvvC4XACnAkfgsvgWrgF7oD74Nvw
I3gKXoCX4S0UJYoBxY0SQymhdFDmKEeUDyoclYTKRZWgalCtqG7UDdRD1EvUe9QPNBpNi+ZEi6NV
0AZoG7QHOgydhD6APoZuRF9EX0M/QE+hP6HXMQQMK0YYo4QxxNhhfDDRmCxMMaYecwFzHTOGmcV8
xaKw9Fh+rAJWH2uH9cPGY/OwFdgW7BXsCHYau4RD4RhwQjgVnBluLy4cl4k7imvCXcaN4F7hlvF4
PBteCq+Dt8MH4lPwRfhGfA9+BD+L/05BpOChUKQwpXCniKE4QFFD0UFxh2Ka4hslkZKXUoVyN6UP
ZRJlEeVpyn7KJ5SfCBgCB0GeYErwIuwjFBNaCNcJzwhfiUQiP1GDaEcMJeYQa4k9xDHiRxKWxE1S
JdmQQkm5pDpSL+kJaZGKSCVEpUPlShVPVUzVTnWb6i01TM1JrUptRx1JXUDdQj1M/ZoGouGkUaNx
oImlKaY5RzNC84GWklaY1oDWmzaTtpa2n3aKdpPMQVYnO5MTyRXkbvIkeZWOhU6FzpEuka6C7jLd
M7p1eg56TXo3+nT6OvpB+jcMOAYRBlOGEIZChvMMjxm+M7IyajC6M2YynmK8zfiJicykwOTIlMxU
xzTEtMBMzSzP7MiczFzPPMz8kYWORZllL0sWSzPLKMs3Vg5WXdZA1kLWTtaXbFg2CTYbtiS2erY7
bF/Z2dh12YPZS9ivsL/loOJQ4nDnOMBxgeMFJ5ZTmtOJM4vzDOcEF4pLgsuBK5PrDNckN5pbmtuZ
O4f7AvdLHkoeJR4vnsM8vTzzvAy8OrzhvFW8t3l/8AnwWfOl87XzveAn8qvyB/CX8Q/xrwjwC9gI
ZApcEJgRJAvqCEYK1guOCaGE5IV8hI4K3RT6ISwq7Cx8SPiq8BcRXhFbkRyRbpEPolyiVqLZol2i
78U4xazE9ov1iH0S5xW3Ez8g3ie+LCEisVeiWGJYYkNSTjJAslrykRRBSlsqTuqM1GtpNmkr6Tzp
AekfMtIyfjInZJ7IUssayabJdskuyonKeckdl3ssTy1vJJ8h3yv/TUFaIVDhpMKUIquirWKh4h0l
rJKOUopSt9KKsoxyiHKz8lsVPhV3lSqVp6pMqjaqRar31Uhqpmp5ajfVsep66pnq1zQgDS2NVI0+
jU1NTc0Uzauam7t27Urd1a8FtLS1MrQGtTHahtq52rd1iDoWOkd0xnQZdR10K3Vf6vHo+eg16X3Q
l9aP1u/SXzfQMsg2uG1IZWhtWG740ojPKMCo3WjFWM043fimCZWJrUmlyYypqGmEaZcZMDMyKzSb
MOc29zc/Z/7TQsfioMXj3Zy7/Xaf271mqW952HJyD/+e0D3dVmir3VYVVm+sZayTrIdt6G3cbdps
Vm0NbItsp+zE7RLtbtrT23van7XfdDBzqHCYd1R23O/42InfKdrpujOds5fzeReUi7VLvcuyq55r
qevbvUp78/Y+dRN3S3Ebded1j3a/6cHiEezR50n29PHs9iJ6uXtd9MZ7u3if88H4OPm0+6J9HX3b
/dB+Tn5n/bH+Lv7nAygC3AIuBZICvQN7g+iCgoKuB7MFRwXfCeELSQp5HCoZmhM6HaYaVhz2Mdww
vDZ8LcIu4mwkIdI3ciCKPSo+aixaKjo/ei5GN6YmZj3WMfZSHF1ceNxIvFh8Xvxcgn5CfSKc6J7Y
t49zX/K+50nqSZVJa8nOyZdT2FKSUp6naqRWp26luaddS+dLz06fyzDOaMmkygzPHMtSzCrPWs92
z76+X2h//v7POTY5Xbkcuem5b/PM8s4dYDyQdGAm3yj/zEH6g/sOzhwyOtRewFSQUvDmsPnhjkKO
wuzCT0fsjvQVCRcdKfpZ7F18r0SppLaUUBpTOn3U5GhHGXdZftn3Y57HRspVyxsryBUpFe8r7SsH
j8scP1FFrEqomqu2rb5+QuZETQ11TXLNh1rn2jt1qnXN9az1B+p/NgQ2PDtpdrK3UbLxxCmaUxmn
lpt8miZOm5zubZZqrmthaMltWWsNa51ts2u7c2bXmQvtwu1VZ2nP5pxdPxdxbu686/mxC8YX+i4q
Xmzr4O+ovES+lNcJdSZ0LnYFdL3qdup+2GPaM3hZ83Jnr3Rv8xX+K9VXWa4W91H15fWj+1P7fw7E
DixeC7k2f933+syg2+DzG443xoeshx7ctLh5d9hk+NYtw1tDt/VvD97RvXPtrs7dgXva9wZGdEau
3de9f31Ub3TogeGD4YcmD++OWYyNPrJ+NP7Y4fGz8b3jM098nsxPhEwsTsZM/nya+gz1LPc51fPi
Fywvql/yv2yekpnqnNacvvHK7NXYjNPMzGzg7NLrxDfwm/y3dG+PzwnMtb9Tfndt3mx+fMF9YeF9
zPutDwc+Mn6s/ST+qeuz3ufRLy5f5hdjluClw1/ZvzYvKy3fWLFeefUt7Nvm94M/2H40r6qs3vrp
+PPdWvw6fr18Q2SjZ9N08/lW6B8u8IcL/OECf7jAHy7whwv84QJ/uMAfLvCHC/zhAn+4wB8u8IcL
/OEC/3+5QLhHpMcOFUAhFfb1BWDpFAAkRwDoRgEgoP6v7b/+R/ldUBCis6NLAtxAHXiCYjCCsAIH
qAnZ2UPgWWRnXkLnY6Qx09gqXCBej0KQkooAE1EkWioxamOaSNpa8gt6TgZPxvPMaBZ31n52Lo48
zkVuV547fKr8JwXphdKE50QtxNolqCS9pC5Ir8mqyUXJn1AYVHyltKpCVGVVE1VX1tDTtNjlpOWv
HauzX/eoXpN+D5KDnhq9M/5uijajMWe3ENotY6m6R8fK2NrCxsrW1s7e3sHB0dHJycnZycXJ1Wmv
g5udu5WHuaeBl6a3go+oL5cfnT/Ofy3gU+CroEfBN0O6Q1vCqsIPRSREekRpR7NEf4oZiC2LC4s3
SeBL2Eh8sq89KTfZPUUplSr1Tdrl9KIM/0yNLLqsd9lX9xfn+Oeq5zHmbeSjD2oeajusXHj+yEYx
V4lYqeRR6TKZY3Ll8hUKlQrHFatUqw1O+NQcq52oZ2jQPunaGHoqsWn/6SPNlS0nW9vbus9cb394
9uN5ngvhF0cviXQGdx3rvtRz//Jc7+ZVxj6ZfruBomvvBo1uVA7du/lq+Mtt7B2Bu4b3vEei7geP
2j5Qesg5Rjm2+mj28b3xvic9E72TfU8Hnl193v7iyMvgKZ1plumlV6Mz3bNNryvfFL7Nnkt4FzLv
vmD+Xu4D+cP7j0OfGj7v/xK4aLEk/5V3WWTF9dvVH9KrJT+n1lk2HDYbtra21wkgADaEZVqBRNAK
3kJCUBjUD7PBGfASwsx+oHMxPJgb2GicJO4r/hpFFWUywZvoQLKmcqD2pImhzSc30Y3S/2AUYnJl
Lma5z0ZiN+M4yDnCTeLZw3uEb1SAIKgvFCvcKPJAdFmcRkJYUl5KRVpFRk5WRI5TnkYBUlhWfKP0
RHlYpVv1tFqFer7GPs3AXc5aFto6Okq6knr8+qwGNIZYwzWjL8ZvTCZM75pdNT9rUbe72DJrT5SV
h7WljaatmB2zPcZ+0eG547DTBecTLnmuUXtd3fTdxT3oPH54vvAa8G7wyfUN8jP3lwqgDfga+Djo
UvCxkIRQhzDFcHL4fERfZHGUd7RCDCZmPPZkXEy8fgJ9wmzi+X1pSRbJ7MkLKT2ph9IC060y9JCV
oZqtuF86RyxXII/rAEs++SDhEPrQRsG3w4uFS0dWi3ElzKXCR5XK9I5ZljtX+FVGHk+uyqkuOnG8
5lRtV93D+tWTIo0up/KbOk4/bd5s5WnTP+Pffuhs57lPFxQuZnc86CR1aXQH9JRfvtO7dVWhL7i/
YeD5ddpBrRsBQ/k3m4eHb83fId2Vu+c0knG/dfTJQ+yY/CO3x1njDU8GJ94+pXwm9dzmRcLL6qmb
099nZGYjX194szQn/s5vvn5h6gPbR4dPxz9/WYz9KrFC/k65Cv98v355M+B3/CkBExAHRiAIlIHb
EBYyhI5As7AGXIsiobLROHQRRhDTj/XGkXG38LkUFpRclKuER8Qu0kmqcuoimsO0ReQKupP0lxiG
GV8yrbKQWSXYDNg9OJI4y7jOcF/jecT7hu8j/5LAF8F3QhPC10ROimaKOYlLSUASDyUbpOKkTWS4
Zb7Ljsg1yqco2CqKK8FKE8ptKhmqdmqiahvqoxr1mnG7TLS4tFa07+qc1E3Rs9OXNMAYPDe8aHTA
2N1E0ZRgOm3WYZ5n4YpkCgzCPFqt0qytbQRsvtkO21XYBzmoORIcnzm1OCe6GLkyur7ee84t1d3U
g8lj1vOMV6K3gQ+tzzPfRr8If7UAdMBIYFmQe7BI8GJIV2hamEE4RfjdiIORJlH4qBvRGTGaMWux
nXFR8ZLx8wkNiW77WPc9SipINkqBU66mpqQZpXOkr2VMZw5nncuu3J+VE5Jrl6d5QDCflL9y8Pmh
6wXNh0sK04/EFUUWh5dElEYcjSiLOBZeHloRUOl+3LrKpNrshGtNQm1V3Y36TycZGpVOmTVZnd7T
7Nyyr/Vi21q74dnic1MXxC7Gdgx0Erqsu4/1POvluRJ89Uo/3UDgteuDbDeih0aGBW8l3350V/Re
xsjsqN2D8TGvRyvjuROsk23PtJ6Pv0ybNp+xfl349vt8yYcbizbfJ7fj/+v/9O2CVQTgpAEAdiUA
WKsguAAAgSZk/1AHwJIEgI0KgFnKAXQlHEAuwn/vH5xAG9k7MpGT5w0ke2CR/GEMBUGHoHboAbQM
M8FqsBtyGmyCR+CvKFaUNsofVYjqQs2gCWhF5Ex3CN2NnsMwYPQxMZhGzASWiNXGxmHPYN/heHFu
uGrcSzwv3h9/Fr9BYYacs75RWlK2EUiEUMJDojKxlkQgxZJmqfZQDVDLUjfQsNAU0lLQZpNhcgYd
hi6Pnoa+nEGA4QKjHuMEUxgznrmBRZflNWsOcgp5zJ7KIc7xnLOAS49rg7uHJ5FXkw/Dd5//uECQ
oIYQWWhBeFCkTjRDzEfcTEJFUlJKSlpTxlY2WC4TSfkdimNK31Q4VA3VYtVPa0ztYtGy1y7XmdIT
1o8xGDJiNfYzKTUtM4s11zLfshjYfdAycE+AVZb1WZvXdqz21g4FjnedSS57XI/unXCn9pDzNPSy
9fb2SfVt8XsXIBOYHjQWIoysvKcRSpFHo37E2Me2xn1MYEqU3qeT5JicmtKdRpHun3EvSzG7Loc6
NyVvLl/7YNahjoLpQqojFkVnS+RLb5RZHLtXYVQ5VLWn+kfNcN3VhvONZU2JzQGtzme0zzKce3Wh
rSO1c2+30+WkK519q9dUBkOGDgyX32642z5ydfTBw7nH+Ccak4eeLb90mu6YJbzxmOtZwH8Q+gQ+
Vy1yLh1bZl+59D1kVeHn+vqlTbed/MEPTEEEOAp6wQyEhyQhGygRqoNuQYswC6wDB8GlcD/8HsWI
0kV2kyrUXdQaWgztgi5AD6BXMKIYD8wxzAMsAWuIzcYO4rA4E9xh3ASeHx+Fv0HBThFHMY6cp2sI
lIQ4whzRgXiPpEvqpVKmukStSN1Ns4tmiHY37STZh7xEl0FPT9/EsIthkjGGiZ7pErMTC8zSyurI
RsHWyx6FxPod5ymuAG5J7m88A7yH+dz45QQoBV4LXhNqEM4TiRJ1F9sjri+hLqkkpSCtKKMqqyNn
Lu+sEKq4X6lR+b7Kppq8epjGGc0lLRXtLJ0xPSH9VINnRmrGVSYbZpbmxRa3d6/vkbTytq62eYrE
2MWh1nHBWcEl03XMTcA9yqPXc9NbwyfZd8CfIsAu8GTQ9xCz0Pqw9QjHyK5olpik2Kfx0gn7Eq/s
+5msmpKeOpLOm5GQOZYtvb8g51OexYHm/LVDWgVJCM9fKdIrriulOBpZNlGuWVF/HF8VVj1eo1Hb
WE/fkNeIPVVwmrP5Yqt522x7/DnC+RMX5Ttud7p3rfTk9rJf6eizH4CvdQwGDLHfHLmVdkf+7sJI
/ajzQ9qxvsdeT8BE5VOVZy9e5EzJTk/NHHyt9ubDXPW8xcLKh9yPq5+Nv2Qvnlsa+fpueesb83e5
HzarST+b1xY2lDdLd+IvAmxAKjgNxsAmJIJEPw1qhSZgLCwPe8JH4AGERfCh7FB5qCuor2gRtDu6
HD2GocaYYfIxd7AkrBW2HDuDk8Al4+7jBfHp+FcUhhTnKfkpKwmMhFIiI7GCxEVqpJKm6qU2o55C
+AY1bSvZnLxIV06vR7/EUM9ox0RgGmBOZFFk+cbazZbKbszBhMT6ClcpdyTCQOT5WPnRyN4zKzgp
9FD4vsio6GOxl+LvJdalyNLiMibIL7pY/qrCRyVuZXuVItWH6gwarprNu9a0LXWa9Sj0QwyeGJkY
D5mamU1YBFiCPZXW6jYzdgUOuxxXnM+5Rropui95VnqL+bT5ifo3BgoGnQ6RCu0ON4yYiAqJwcbW
xWsnTO2LT8amFKTRp5dn8ma17VfLuZfnlQ8dbClwKcQeqSzmLCk9iiuLOzZX4VQ5VuVQvVxzus6n
AXfyQOO3JofTHS30rdFt4+0qZ6vPYy6EXpy8ZNjZ3S3d09zLf6Wyj6o/eWDhuv3g4JDszdpb5NtZ
d77fCx55Per6YHLM/tGTcZsntyZlnxY9e/9C82XB1ItXEjMps6Nv+N7Gz92b51uIfd//YfOTzGeT
L46LjksWX9WX+VZwKzPfer6n/dD48WU1/Sf5Z80axVrE2uS6znr5+rsNpY3sjUebfJsBm22bX7bk
t+K3Lm/H/9cdrJ1CqRsWHBbJbaar9z9cKvvflpDgmL/GICOVGBpssX23ixGp77w99EyRNztSN8OD
d+7BIToQq0+orfVvLB7qabH7N9b0jTSw+mULWYZH62xjZgT7hkdb2vyWpyT661psj4PgEp8o/b/6
qQn0MNm+B0eF4PORMVa2O9kPQP1Rsdb6CKZB8OtEfxv73zrL3j56v+Uw7BtgYPwbkwOijbfHokcw
b1CYqdWvsWBFJJMGAx8QAyKRZyiQAGZAF+j9fkoAX+CBtMQibVEIV3uL4BDEIgyxCUMw92893X+R
GOzY+SF2/7VHbuCF6MX8PeZf0n96CADeyPsvucfvtm3votwCMv4Z4T/3t2Mp3SI9L73+VztaEC2L
VkDroDXQmmgVwI1mRLMCCbQ8Whmtjd6FVkPaVBAvX+94+dvH7f5DzvvGHgtLULXz/z0Hz79nYLej
HfDfzui37yMfOj/87SH4dSdwh+cgMTh+ZRvdKJH4l7UW7RO/c0bWDQtPiAzw84/m1g4PD/YR5zYO
9ZIU55aVlpEG/wEMPe7osph4LgAAAAlwSFlzAAALEwAACxMBAJqcGAAAAW5pVFh0WE1MOmNvbS5h
ZG9iZS54bXAAAAAAADx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9
IlhNUCBDb3JlIDQuNC4wIj4KICAgPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9y
Zy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4KICAgICAgPHJkZjpEZXNjcmlwdGlvbiByZGY6
YWJvdXQ9IiIKICAgICAgICAgICAgeG1sbnM6ZGM9Imh0dHA6Ly9wdXJsLm9yZy9kYy9lbGVtZW50
cy8xLjEvIj4KICAgICAgICAgPGRjOnN1YmplY3Q+CiAgICAgICAgICAgIDxyZGY6QmFnLz4KICAg
ICAgICAgPC9kYzpzdWJqZWN0PgogICAgICA8L3JkZjpEZXNjcmlwdGlvbj4KICAgPC9yZGY6UkRG
Pgo8L3g6eG1wbWV0YT4K5T8NQQAAAetJREFUKJGVkj9sEgEUxn/0DjjK9aCIVAw00BStja2JZVE6
aqKjUQcHg0PTQdPEdHNxcHZ2MHEymrjpZFw0aiQaW/80GklTsAW80hKRAgdXOO4clNrU1MRve3nv
9/K+vM9mnT3O/6gHr4+jx/41YncgCNuA5AzJGTz9+AOMxXFK9HkIhrft7OH0OSTXr0rkwR3OX8Iw
uHyNiQRqntYmcy+p11h4S2EZWWHyBO9SqHlAZE3l0X3iCQ5PAOwPA0SGATZ11ByefuZesaZ2TwJ8
e1le4voVnj/Gsv4c45SIHkBWePGETqcLWCYf3rCyRCbN7Zv8+L7TtJojGsPh7HrY0r4QF6bx+nYC
Wh1dJxJDq1EqdoHJk0zNIisAHYNKmeI3igUyaUIR9gQYGScc4cZVEeDQEaZmqW3w+T35LKKdlQzB
MLFRtBoj49y9hcPB62foTRFBxD/Aw3sYbUIRTIuDY/gHCIapbeBWKBUZHCKeIL2A4hWJxjhzkS8f
cfXilglF6JXJZSmXME1Mg0YdQWA+heLF3SeyWkDNsa4yPIquozf5NI9p8nURWw+ShKzg9dFqsV5k
NS8SCNLUyC4yOETqKYKI0cbuoGPQ0KhWqJTRalv/sVnJU0gumo3fsTEMjBbt9m5RFKlXqVd3a/+t
n4EvsPntM0I6AAAAAElFTkSuQmCC">

    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/bootstrap-responsive.css" rel="stylesheet">

    <style type="text/css">
    	body {
			margin-top:40px;    		
    	}
 
     }

    </style>
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  </head>

  <body>
    <div class="container">
    	{% block main %}{% end %}
  	</div>
  </body>
</html>